In [1]:
import sqlite3
from raw_sql_queries import (
    sql_for_departments_table, sql_for_employees_table,
    sql_for_customers_table, sql_for_cars_table
)

In [2]:
class CreateDatabaseAndTables:
    """
    class for creating database and tables for Auto shop Database
    """
    def __init__(self):
        """
        assigning sql quiers to this class and creating sqlite3 databse
        """
        self.sql_for_departments_table = sql_for_departments_table
        self.sql_for_employees_table = sql_for_employees_table
        self.sql_for_customers_table = sql_for_customers_table
        self.sql_for_cars_table = sql_for_cars_table
        try:
            self.conn = sqlite3.connect("dummyDB.db")
            self.cur = self.conn.cursor()
            self.conn.commit()
        except Exception as e:
            print(e)
        finally:
            self.conn.close()
            
    def get_connection(self):
        """
        function for creating connection to the db
        """
        self.conn = sqlite3.connect("dummyDB.db")
        self.cur = self.conn.cursor()
    
    def create_table(self, query):
        """
        function for creating table 
        """
        try:
            self.get_connection()
            self.cur.execute(query)
            self.conn.commit()
            print("Table created successfully")
        except Exception as e:
            print(e)
        finally:
            self.conn.close()
            
    def insert_data_table(self, db_query):
        """
        function for insterting data into the table
        """
        try:
            self.get_connection()
            self.cur.execute(db_query)
            self.conn.commit()
            print("Data inserted successfully")
        except Exception as e:
            print(e)
        finally:
            self.conn.close()
            
    def create_department_table(self):
        self.create_table(self.sql_for_departments_table)
        
    def create_employes_table(self):
        self.create_table(self.sql_for_employees_table)
            
    def create_customers_table(self):
        self.create_table(self.sql_for_customers_table)
            
    def create_cars_table(self):
        self.create_table(self.sql_for_cars_table)

In [3]:
# creating object from a class
data = CreateDatabaseAndTables()

In [4]:
# creating department table with the help of raw SQL query
data.create_department_table()

Table created successfully

In [5]:
# creating employee table with the help of raw SQL query
data.create_employes_table()

Table created successfully

In [6]:
# creating customer table with the help of raw SQL query

data.create_customers_table()

Table created successfully

In [7]:
# creating cars table with the help of raw SQL query

data.create_cars_table()

Table created successfully

## insert data in tables

In [8]:
# sql query for insterting data in Department table
data_for_hr_table = """
                    INSERT INTO Departments ('id', 'Name') VALUES (1, 'HR'), (2, 'Sales'), (3, "Tech")
                    """

In [9]:
# sql query for insterting data in Employees table

data_for_employee_table = """
                          INSERT INTO Employees ('id', 'Fname', 'Lname', 'phone',
                                                  'ManagerId', 'DepartmentId', 'Salary', 'HireDate')
                          
                          VALUES 
                          
                          (1, 'Rajat', 'Sharma', 7508860012, NULL, 3, 100, '23-12-2020'),
                          (2, 'Rks', 'Singh', 7544444444, NULL, 1, 10, '22-12-2020');
                          """

In [10]:
data.insert_data_table(data_for_hr_table)

Data inserted successfully

In [11]:
data.insert_data_table(data_for_employee_table)

Data inserted successfully