In [1]:
import sqlite3

In [90]:
class BasicSqlOperations:
    """
    class for connecting to db and performing CRUD operations using sql cmd's
    """
            
    def get_connection(self):
        """
        function for make connection to the db ( this is same db that we created with fake data)
        """
        self.conn = sqlite3.connect("dummyDB1.db")
        self.cur = self.conn.cursor()
        
    def read_db_query(self, db_query):
        """
        function for perform read db query on database
        fetchall, fetchone are sqlite keywords to obtain data from database
        """
        data = None
        try:
            self.get_connection()
            self.cur.execute(db_query)
            data = self.cur.fetchall()
            self.conn.commit()
            print("Data obtained successfully")
        except Exception as e:
            print(e)
        finally:
            self.conn.close()
        return data
            
    def delete_db_query(self, db_query):
        """
        function for perform delete using db query on database
        """
        try:
            self.get_connection()
            self.cur.execute(db_query)
            self.conn.commit()
            print("Data deleted successfully")
        except Exception as e:
            print(e)
        finally:
            self.conn.close()
    
    def create_or_update_db_query(self, db_query):
        """
        function for perform update or create using db query on database
        """
        try:
            self.get_connection()
            self.cur.execute(db_query)
            self.conn.commit()
            print("Data created successfully")
        except Exception as e:
            print(e)
        finally:
            self.conn.close()

In [12]:
db_test = BasicSqlOperations()

In [13]:
db_test.get_connection()

## list all tables using sqlite3

In [28]:
query_4_get_table_name  = "SELECT name FROM sqlite_master WHERE type='table';"

In [31]:
tables = db_test.read_db_query(query_4_get_table_name)

Data obtained successfully

In [32]:
tables

[('Employees',), ('sqlite_sequence',)]

## geting deatils about table

In [139]:
table_description_query = """
                            SELECT sql 
                            FROM sqlite_master 
                            WHERE name = 'Employees';
                          """

In [140]:
db_test.read_db_query(table_description_query)

Data obtained successfully

[('CREATE TABLE Employees (\n                    Id INTEGER PRIMARY KEY AUTOINCREMENT,\n                    Fname VARCHAR(55) NOT NULL,\n                    Lname VARCHAR(55) NOT NULL,\n                    Phone VARCHAR(20),\n                    City VARCHAR(30),\n                    Country VARCHAR(50),\n                    Continent VARCHAR(50),\n                    Salary INT NOT NULL\n                )',)]

## simple reading using SQL SELECT

In [37]:
sql_for_select_first_name = " SELECT Fname FROM Employees"

In [38]:
all_first_names = db_test.read_db_query(sql_for_select_first_name)

Data obtained successfully

In [39]:
all_first_names

[('Anthony',),
 ('Tina',),
 ('Richard',),
 ('Charles',),
 ('Carlos',),
 ('Jill',),
 ('Kelsey',),
 ('Rebecca',),
 ('Brandon',),
 ('Lisa',),
 ('Jeffery',),
 ('Brett',),
 ('Jodi',),
 ('Robert',),
 ('Margaret',),
 ('Sonya',),
 ('Christina',),
 ('Kelly',),
 ('Jacqueline',),
 ('Nathan',),
 ('Stephanie',),
 ('Bradley',),
 ('Jose',),
 ('Kathryn',),
 ('Maria',),
 ('Madison',),
 ('Aaron',),
 ('Jeremy',),
 ('Miranda',),
 ('Tina',),
 ('Melanie',),
 ('Barbara',),
 ('Jessica',),
 ('Stacy',),
 ('Nathan',),
 ('Brian',),
 ('Daniel',),
 ('Mckenzie',),
 ('Robert',),
 ('Catherine',),
 ('Benjamin',),
 ('Tanya',),
 ('Stacy',),
 ('Jesse',),
 ('Susan',),
 ('Michael',),
 ('Timothy',),
 ('Leah',),
 ('David',),
 ('Jerry',),
 ('Christopher',),
 ('Jason',),
 ('David',),
 ('Adrian',),
 ('Scott',),
 ('Sherry',),
 ('Jennifer',),
 ('John',),
 ('Joshua',),
 ('Diane',),
 ('Sandra',),
 ('Carlos',),
 ('Nicholas',),
 ('Dana',),
 ('Nicole',),
 ('Tiffany',),
 ('Cassie',),
 ('Joseph',),
 ('Ross',),
 ('James',),
 ('Jason',),
 ('Austin',),
 ('Claudia',),
 ('Paige',),
 ('Juan',),
 ('Jill',),
 ('Alexander',),
 ('Jason',),
 ('Misty',),
 ('Katherine',),
 ('Jose',),
 ('Candice',),
 ('Laura',),
 ('William',),
 ('Lindsey',),
 ('Kevin',),
 ('Joseph',),
 ('Amanda',),
 ('Debra',),
 ('Jeffrey',),
 ('Richard',),
 ('Monica',),
 ('Sophia',),
 ('Cindy',),
 ('Cassie',),
 ('William',),
 ('Ashley',),
 ('Stephen',),
 ('Amanda',),
 ('Karen',),
 ('Jodi',),
 ('Barry',),
 ('Christine',),
 ('Donald',),
 ('Nancy',),
 ('Kimberly',),
 ('Kristen',),
 ('Scott',),
 ('Charles',),
 ('Ann',),
 ('Randall',),
 ('Wayne',),
 ('Linda',),
 ('Matthew',),
 ('Alexis',),
 ('Daniel',),
 ('Travis',),
 ('David',),
 ('Courtney',),
 ('Miranda',),
 ('Justin',),
 ('Samantha',),
 ('Joel',),
 ('Andrew',),
 ('Jason',),
 ('Christine',),
 ('John',),
 ('Curtis',),
 ('Derek',),
 ('Carlos',),
 ('John',),
 ('Ronald',),
 ('Laurie',),
 ('William',),
 ('Xavier',),
 ('Mark',),
 ('Malik',),
 ('Felicia',),
 ('Alexis',),
 ('Sarah',),
 ('Vicki',),
 ('Daniel',),
 ('Kathleen',),
 ('Jennifer',),
 ('Morgan',),
 ('Howard',),
 ('John',),
 ('Vanessa',),
 ('Evelyn',),
 ('Paula',),
 ('William',),
 ('Elizabeth',),
 ('Natalie',),
 ('Theresa',),
 ('Daniel',),
 ('Russell',),
 ('Lynn',),
 ('Samuel',),
 ('Jeffrey',),
 ('Amanda',),
 ('Cindy',),
 ('Samantha',),
 ('Erin',),
 ('David',),
 ('Jeffrey',),
 ('Tina',),
 ('Benjamin',),
 ('Jonathan',),
 ('Ethan',),
 ('Angela',),
 ('Angela',),
 ('Cassidy',),
 ('Mckenzie',),
 ('Corey',),
 ('Joshua',),
 ('John',),
 ('Carolyn',),
 ('Sharon',),
 ('Ryan',),
 ('Sandra',),
 ('Mitchell',),
 ('Emily',),
 ('William',),
 ('Jordan',),
 ('Amanda',),
 ('Michael',),
 ('Brandy',),
 ('Brenda',),
 ('Gary',),
 ('Keith',),
 ('Adam',),
 ('Margaret',),
 ('William',),
 ('Erik',),
 ('Nicholas',),
 ('Monica',),
 ('Jeffrey',),
 ('Reginald',),
 ('Erin',),
 ('Stephen',),
 ('Richard',),
 ('Jessica',),
 ('Derek',),
 ('John',),
 ('Nicholas',),
 ('Melissa',),
 ('Lisa',),
 ('Sandra',),
 ('Timothy',),
 ('Dorothy',),
 ('Kevin',),
 ('Sarah',),
 ('Rebecca',),
 ('Jeff',),
 ('Joshua',),
 ('Jacob',),
 ('Matthew',),
 ('Amber',),
 ('Mark',),
 ('Shannon',),
 ('Edward',),
 ('James',),
 ('Melissa',),
 ('Daniel',),
 ('Crystal',),
 ('Deborah',),
 ('Jason',),
 ('Leah',),
 ('William',),
 ('Madeline',),
 ('Monica',),
 ('James',),
 ('Angela',),
 ('Steven',),
 ('Zachary',),
 ('Kristy',),
 ('Elizabeth',),
 ('Lisa',),
 ('Tina',),
 ('Jerry',),
 ('Dean',),
 ('Cindy',),
 ('Kathryn',),
 ('Amanda',),
 ('Valerie',),
 ('Wesley',),
 ('Kathryn',),
 ('Jimmy',),
 ('Daniel',),
 ('Julie',),
 ('Richard',),
 ('Scott',),
 ('Natalie',),
 ('Kevin',),
 ('Cheryl',),
 ('Penny',),
 ('Bruce',),
 ('Brittney',),
 ('Julie',),
 ('Cindy',),
 ('Samantha',),
 ('Rachel',),
 ('Jose',),
 ('Karen',),
 ('Michael',),
 ('Amanda',),
 ('Steven',),
 ('Michael',),
 ('Nathaniel',),
 ('Ashley',),
 ('Penny',),
 ('Paul',),
 ('Joseph',),
 ('Eric',),
 ('Tanya',),
 ('Carly',),
 ('Eric',),
 ('Lisa',),
 ('Brandon',),
 ('Christopher',),
 ('Lisa',),
 ('Charles',),
 ('Kevin',),
 ('Brian',),
 ('Sarah',),
 ('Edwin',),
 ('Donald',),
 ('Aaron',),
 ('Traci',),
 ('Jessica',),
 ('Anthony',),
 ('Ryan',),
 ('Frank',),
 ('Andrea',),
 ('Cameron',),
 ('Rachel',),
 ('Michelle',),
 ('Michelle',),
 ('David',),
 ('Bradley',),
 ('Patrick',),
 ('Bryan',),
 ('Taylor',),
 ('Thomas',),
 ('Julia',),
 ('Audrey',),
 ('Gabrielle',),
 ('Diamond',),
 ('Lori',),
 ('Melanie',),
 ('Brian',),
 ('Joseph',),
 ('Kimberly',),
 ('Teresa',),
 ('Andrew',),
 ('Mary',),
 ('Micheal',),
 ('Janet',),
 ('Michael',),
 ('Richard',),
 ('Michael',),
 ('Sarah',),
 ('Stacie',),
 ('Linda',),
 ('Wayne',),
 ('Bruce',),
 ('Joel',),
 ('Katherine',),
 ('Jennifer',),
 ('Jonathan',),
 ('Jill',),
 ('Corey',),
 ('James',),
 ('Taylor',),
 ('Jack',),
 ('Paula',),
 ('Samantha',),
 ('Emily',),
 ('Diane',),
 ('Ryan',),
 ('John',),
 ('Andrew',),
 ('Julie',),
 ('Henry',),
 ('William',),
 ('Brianna',),
 ('Jack',),
 ('Stephanie',),
 ('Lisa',),
 ('Teresa',),
 ('Felicia',),
 ('Stephen',),
 ('Miguel',),
 ('Jeremy',),
 ('Anthony',),
 ('Brian',),
 ('Dana',),
 ('Albert',),
 ('Chelsey',),
 ('Dustin',),
 ('Jennifer',),
 ('Michael',),
 ('Christopher',),
 ('Gina',),
 ('Alicia',),
 ('Valerie',),
 ('Madison',),
 ('William',),
 ('Ernest',),
 ('Diane',),
 ('Stephen',),
 ('Robert',),
 ('Janet',),
 ('Alan',),
 ('James',),
 ('Christopher',),
 ('Megan',),
 ('Ian',),
 ('Melissa',),
 ('Jerry',),
 ('Mary',),
 ('Vicki',),
 ('Michelle',),
 ('Sean',),
 ('Daniel',),
 ('Jodi',),
 ('Drew',),
 ('Nancy',),
 ('Dennis',),
 ('Linda',),
 ('Theresa',),
 ('Daniel',),
 ('Marie',),
 ('Phillip',),
 ('Jake',),
 ('Olivia',),
 ('Jerry',),
 ('Elizabeth',),
 ('James',),
 ('Cynthia',),
 ('Dustin',),
 ('Pamela',),
 ('Kayla',),
 ('Michelle',),
 ('Angela',),
 ('Daniel',),
 ('April',),
 ('Brett',),
 ('Daniel',),
 ('Joanna',),
 ('David',),
 ('Caleb',),
 ('Kathleen',),
 ('Stephanie',),
 ('Kayla',),
 ('Timothy',),
 ('Michele',),
 ('Dana',),
 ('John',),
 ('John',),
 ('Mark',),
 ('Charles',),
 ('Jessica',),
 ('Gregg',),
 ('Roger',),
 ('Sarah',),
 ('Autumn',),
 ('Randy',),
 ('Daniel',),
 ('Joseph',),
 ('Kenneth',),
 ('Natalie',),
 ('Michael',),
 ('Matthew',),
 ('Jessica',),
 ('Chelsea',),
 ('Brad',),
 ('Leslie',),
 ('Joseph',),
 ('Mary',),
 ('Wendy',),
 ('Emily',),
 ('Andrea',),
 ('Sean',),
 ('Jose',),
 ('Emily',),
 ('John',),
 ('Michael',),
 ('Robert',),
 ('Amy',),
 ('Nicole',),
 ('Benjamin',),
 ('Kimberly',),
 ('Alex',),
 ('Stephen',),
 ('John',),
 ('Kevin',),
 ('Joshua',),
 ('Sean',),
 ('Tammy',),
 ('Amanda',),
 ('Lisa',),
 ('Brett',),
 ('Derrick',),
 ('Shelby',),
 ('Carl',),
 ('Kimberly',),
 ('John',),
 ('Vincent',),
 ('Lisa',),
 ('Chad',),
 ('Brett',),
 ('Wendy',),
 ('Noah',),
 ('Reginald',),
 ('Cody',),
 ('Michelle',),
 ('Tracey',),
 ('Daniel',),
 ('Gerald',),
 ('Lori',),
 ('Brandon',),
 ('Manuel',),
 ('Paul',),
 ('Justin',),
 ('Carol',),
 ('Lorraine',),
 ('Kathleen',),
 ('Daniel',),
 ('Jessica',),
 ('Joseph',),
 ('Christina',),
 ('Gina',),
 ('Michelle',),
 ('Michael',),
 ('Bobby',),
 ('Patrick',),
 ('Lauren',),
 ('Joy',),
 ('Carl',),
 ('Ricky',),
 ('Christina',),
 ('Samantha',),
 ('Timothy',),
 ('Jessica',),
 ('Bradley',),
 ('Diana',),
 ('Tonya',),
 ('Robin',),
 ('Nicholas',),
 ('Anthony',),
 ('Melissa',),
 ('David',),
 ('Dale',),
 ('Mary',),
 ('Jason',),
 ('Shelia',),
 ('Angela',),
 ('Kelly',),
 ('Elizabeth',),
 ('Jessica',),
 ('Justin',),
 ('Amber',),
 ('Andres',),
 ('Angela',),
 ('Brett',),
 ('Deborah',),
 ('Elizabeth',),
 ('Laura',),
 ('Stephanie',),
 ('Douglas',),
 ('Heather',),
 ('Kelly',),
 ('Adrian',),
 ('Michelle',),
 ('Sean',),
 ('Melissa',),
 ('Ivan',),
 ('Lindsey',),
 ('Samuel',),
 ('Matthew',),
 ('Stephen',),
 ('Jason',),
 ('Brandon',),
 ('Lauren',),
 ('April',),
 ('Erica',),
 ('Carrie',),
 ('Gabrielle',),
 ('Gerald',),
 ('Joseph',),
 ('Erik',),
 ('Michael',),
 ('Steven',),
 ('Kristina',),
 ('Bryan',),
 ('Travis',),
 ('Bethany',),
 ('Michael',),
 ('Carlos',),
 ('Melinda',),
 ('Alexis',),
 ('Richard',),
 ('Paul',),
 ('William',),
 ('James',),
 ('Lisa',),
 ('Theresa',),
 ('Nicole',),
 ('Alexander',),
 ('Michael',),
 ('Brittany',),
 ('Amanda',),
 ('Erik',),
 ('Brenda',),
 ('Dale',),
 ('Amy',),
 ('Maria',),
 ('Joseph',),
 ('Jessica',),
 ('Rebecca',),
 ('Melissa',),
 ('Kenneth',),
 ('Kristin',),
 ('Jeffrey',),
 ('Christopher',),
 ('Sheila',),
 ('Eric',),
 ('Barbara',),
 ('Edward',),
 ('Kathleen',),
 ('Lori',),
 ('Patrick',),
 ('Michael',),
 ('Ruben',),
 ('Brandi',),
 ('Scott',),
 ('Bradley',),
 ('Melissa',),
 ('Jessica',),
 ('Virginia',),
 ('Carly',),
 ('Kenneth',),
 ('Dawn',),
 ('Kathryn',),
 ('Sarah',),
 ('Jonathan',),
 ('Michael',),
 ('Benjamin',),
 ('Frank',),
 ('Stephanie',),
 ('Isaac',),
 ('Matthew',),
 ('Robert',),
 ('Darius',),
 ('Alan',),
 ('Nicole',),
 ('John',),
 ('Sierra',),
 ('Jason',),
 ('Lauren',),
 ('Jessica',),
 ('Brian',),
 ('Stacie',),
 ('Michael',),
 ('Stephen',),
 ('Jennifer',),
 ('Alexis',),
 ('Darren',),
 ('Allen',),
 ('Patrick',),
 ('John',),
 ('Michael',),
 ('Debbie',),
 ('Kevin',),
 ('Lisa',),
 ('Lisa',),
 ('Richard',),
 ('Nicholas',),
 ('Paul',),
 ('Carrie',),
 ('Kristen',),
 ('Kevin',),
 ('Nicole',),
 ('Jocelyn',),
 ('Kathleen',),
 ('Hannah',),
 ('Darryl',),
 ('Jessica',),
 ('Kelly',),
 ('Michael',),
 ('Barbara',),
 ('Veronica',),
 ('Aaron',),
 ('Michelle',),
 ('Julie',),
 ('Desiree',),
 ('Justin',),
 ('Brandy',),
 ('Meredith',),
 ('Daniel',),
 ('Cindy',),
 ('Timothy',),
 ('Daniel',),
 ('Michael',),
 ('Heidi',),
 ('Christopher',),
 ('Kevin',),
 ('David',),
 ('Cindy',),
 ('Robert',),
 ('James',),
 ('Beverly',),
 ('Christina',),
 ('Ana',),
 ('Matthew',),
 ('Ashley',),
 ('Gina',),
 ('Pamela',),
 ('Connie',),
 ('Ellen',),
 ('Sydney',),
 ('Jessica',),
 ('Chris',),
 ('Brandy',),
 ('Nancy',),
 ('Jose',),
 ('Sandra',),
 ('Rita',),
 ('Derrick',),
 ('Danny',),
 ('Cory',),
 ('Morgan',),
 ('Faith',),
 ('Vincent',),
 ('Kaitlin',),
 ('Jose',),
 ('Edwin',),
 ('Jeffrey',),
 ('Andrea',),
 ('Tanya',),
 ('Mathew',),
 ('James',),
 ('Kent',),
 ('Paul',),
 ('Brittany',),
 ('Cody',),
 ('Zachary',),
 ('Stephen',),
 ('Christine',),
 ('Andrew',),
 ('Mary',),
 ('Jon',),
 ('Patrick',),
 ('Sherri',),
 ('Curtis',),
 ('Alexandra',),
 ('Elizabeth',),
 ('Kim',),
 ('Nicole',),
 ('Wyatt',),
 ('Charles',),
 ('Catherine',),
 ('Christina',),
 ('Michael',),
 ('Connie',),
 ('Kimberly',),
 ('Edwin',),
 ('Virginia',),
 ('Todd',),
 ('Rick',),
 ('Amanda',),
 ('Diana',),
 ('Troy',),
 ('Kenneth',),
 ('Daniel',),
 ('Jennifer',),
 ('Margaret',),
 ('Autumn',),
 ('Amber',),
 ('Todd',),
 ('Julie',),
 ('Meghan',),
 ('Jennifer',),
 ('Regina',),
 ('Jessica',),
 ('Dorothy',),
 ('Clifford',),
 ('Brenda',),
 ('Shane',),
 ('Craig',),
 ('Tracy',),
 ('Samantha',),
 ('Rebecca',),
 ('Laura',),
 ('Meghan',),
 ('Bonnie',),
 ('Jennifer',),
 ('Brittany',),
 ('Marc',),
 ('Monique',),
 ('Tyler',),
 ('Kevin',),
 ('Anthony',),
 ('Megan',),
 ('Jessica',),
 ('Paula',),
 ('Austin',),
 ('Taylor',),
 ('Joseph',),
 ('Emily',),
 ('Carlos',),
 ('Kelly',),
 ('Steven',),
 ('Brandon',),
 ('Frank',),
 ('Vincent',),
 ('Melinda',),
 ('Kayla',),
 ('Gabriel',),
 ('Danielle',),
 ('Eric',),
 ('Susan',),
 ('Alison',),
 ('Wanda',),
 ('Jessica',),
 ('Amanda',),
 ('Darren',),
 ('Micheal',),
 ('Katherine',),
 ('Tiffany',),
 ('Jerry',),
 ('Justin',),
 ('Anthony',),
 ('Kyle',),
 ('Joshua',),
 ('Amanda',),
 ('Donna',),
 ('Caroline',),
 ('Jeff',),
 ('Andre',),
 ('Keith',),
 ('Darrell',),
 ('Amy',),
 ('Mark',),
 ('Sean',),
 ('Rachel',),
 ('Michael',),
 ('Andrew',),
 ('Teresa',),
 ('Christopher',),
 ('Victoria',),
 ('Dawn',),
 ('Amy',),
 ('Emily',),
 ('Michael',),
 ('Christian',),
 ('Jonathan',),
 ('Lauren',),
 ('Shannon',),
 ('Kelly',),
 ('Maria',),
 ('Cory',),
 ('Zachary',),
 ('Kevin',),
 ('Tina',),
 ('Jackie',),
 ('Brandy',),
 ('Anthony',),
 ('Jessica',),
 ('Matthew',),
 ('Christopher',),
 ('Jerry',),
 ('Justin',),
 ('Deanna',),
 ('Jennifer',),
 ('Lauren',),
 ('Jessica',),
 ('Sandra',),
 ('Karen',),
 ('Marie',),
 ('Jeffrey',),
 ('Natalie',),
 ('Cindy',),
 ('John',),
 ('Todd',),
 ('Regina',),
 ('Cynthia',),
 ('Jessica',),
 ('Larry',),
 ('Julie',),
 ('Kristin',),
 ('Keith',),
 ('Alexandra',),
 ('Andrew',),
 ('Joshua',),
 ('Sierra',),
 ('Danielle',),
 ('Jasmine',),
 ('Matthew',),
 ('Jennifer',),
 ('Kenneth',),
 ('Wendy',),
 ('Adam',),
 ('Michael',),
 ('Manuel',),
 ('Dennis',),
 ('Alexis',),
 ('Zachary',),
 ('Michael',),
 ('Sara',),
 ('Jennifer',),
 ('James',),
 ('Rebecca',),
 ('Matthew',),
 ('Richard',),
 ('John',),
 ('Kevin',),
 ('Pamela',),
 ('William',),
 ('Robert',),
 ('Ashley',),
 ('Cody',),
 ('Angelica',),
 ('Jacqueline',),
 ('Sarah',),
 ('Alyssa',),
 ('Jennifer',),
 ('Melissa',),
 ('Brandon',),
 ('Daniel',),
 ('James',),
 ('Stephanie',),
 ('Ashley',),
 ('Kaitlyn',),
 ('Antonio',),
 ('Daniel',),
 ('Nancy',),
 ('Daniel',),
 ('Kristin',),
 ('Stephanie',),
 ('Samantha',),
 ('Connie',),
 ('Sarah',),
 ('Pamela',),
 ('John',),
 ('William',),
 ('Michael',),
 ('Pamela',),
 ('Tara',),
 ('Sarah',),
 ('Kevin',),
 ('Richard',),
 ('Ryan',),
 ('Matthew',),
 ('Michelle',),
 ('Sara',),
 ('Michael',),
 ('Sydney',),
 ('James',),
 ('Margaret',),
 ('Jenny',),
 ('Patrick',),
 ('Diane',),
 ('Mike',),
 ('Lacey',),
 ('Linda',),
 ('Brittney',),
 ('Natalie',),
 ('John',),
 ('Sarah',),
 ('Stacy',),
 ('Kerri',),
 ('Mathew',),
 ('Eric',),
 ('Michael',),
 ('Marilyn',),
 ('Jeffrey',),
 ('Lori',),
 ('Matthew',),
 ('Heather',),
 ('Anna',),
 ('Tina',),
 ('Jeremy',),
 ('Gregory',),
 ('Jim',),
 ('Rhonda',),
 ('Jeremy',),
 ('Ryan',),
 ('Robert',),
 ('Tracy',),
 ('Nathaniel',),
 ('Adam',),
 ('Diana',),
 ('Andrew',),
 ('Kelly',),
 ('Ronald',),
 ('Christina',),
 ('Erin',),
 ('Claudia',),
 ('Amy',),
 ('Michael',),
 ('Julie',),
 ('Gregory',),
 ('Cheryl',),
 ('Christopher',),
 ('Jennifer',),
 ('Chase',),
 ('Mitchell',),
 ('Anna',),
 ('Elizabeth',),
 ('Robert',),
 ('Edward',),
 ('Daniel',),
 ('Dawn',),
 ('Kimberly',),
 ('Kerri',),
 ('Mark',),
 ('John',),
 ('Taylor',),
 ('Megan',),
 ('Tony',),
 ('Robert',),
 ('Brandon',),
 ('Tina',),
 ('Ricardo',),
 ('Lisa',),
 ('Mark',),
 ('Steven',),
 ('Alyssa',),
 ('Michael',),
 ('Yvette',),
 ('Kathy',),
 ('Sarah',),
 ('Anthony',),
 ('Melvin',),
 ('Amanda',),
 ('Charles',),
 ('Jason',),
 ('Aaron',),
 ...]

## select count using SQL COUNT

In [40]:
sql_for_select_first_name_count = " SELECT COUNT(Fname) FROM Employees"

In [41]:
all_first_name_count = db_test.read_db_query(sql_for_select_first_name_count)

Data obtained successfully

In [42]:
all_first_name_count

[(1001,)]

## select unique Fname using SQL DISTINCT

In [44]:
sql_for_select_unique_first_name_count = " SELECT COUNT(DISTINCT Fname) FROM Employees"

In [45]:
unique_first_name_count = db_test.read_db_query(sql_for_select_unique_first_name_count)

Data obtained successfully

In [46]:
unique_first_name_count

[(347,)]

## obtain data using conditions in SQL with WHERE syntax

In [47]:
sql_for_salary_gt_100 = " SELECT Fname, Phone, Country FROM Employees WHERE Salary > 100"

In [48]:
highly_paid_people = db_test.read_db_query(sql_for_salary_gt_100)

Data obtained successfully

In [49]:
highly_paid_people

[('Kelsey', '184-305-8027', 'El Salvador'),
 ('Brandon', '415-884-0386', 'Indonesia'),
 ('Jeffery', '841-133-8914x552', 'Niue'),
 ('Michael', '337.122.4350x5749', 'New Zealand'),
 ('Nicholas', '656.742.4629x87667', 'Bahrain'),
 ('Candice', '+1-223-415-9855x448', 'Burundi'),
 ('Christine', '8856854765', 'India'),
 ('Kristen', '832-375-3115x0646', 'Tanzania'),
 ('Randall', '001-485-492-8265', 'Morocco'),
 ('William', '8527875431', 'Uzbekistan'),
 ('Felicia', '770.442.5783', 'Bahrain'),
 ('Vicki', '707-106-7705x4098', 'Bouvet Island (Bouvetoya)'),
 ('Kathleen', '(056)215-3376x715', 'New Zealand'),
 ('Paula', '177-134-6619', 'Wallis and Futuna'),
 ('William', '999.815.4965x16969', 'Cayman Islands'),
 ('Amanda', '(555)114-8774x787', 'Tuvalu'),
 ('Mckenzie', '001-724-832-7614x499', 'Eritrea'),
 ('Ryan', '945.168.5527x45522', 'Belize'),
 ('Jordan', '001-653-406-7784x296', 'Nauru'),
 ('Adam', '140-646-0398x430', 'Zambia'),
 ('Stephen', '236-903-2806x59867', 'India'),
 ('Richard', '086-493-2120x868', 'Hungary'),
 ('Amber', '001-399-376-0669', 'Panama'),
 ('Jimmy', '+1-997-884-7676x24209', 'Lithuania'),
 ('Richard', '(687)028-7823x3894', 'Costa Rica'),
 ('Cindy', '606.427.1296x638', 'Mexico'),
 ('Steven', '(603)406-9768x6085', 'Kiribati'),
 ('Michael', '9798373771', 'Netherlands Antilles'),
 ('Jessica', '001-209-874-1418x004', 'Slovakia (Slovak Republic)'),
 ('Ryan', '(084)220-0912', 'Sweden'),
 ('Audrey', '(271)431-6410x7474', 'Myanmar'),
 ('Stacie', '+1-436-259-5039x802', 'Saint Barthelemy'),
 ('Jennifer', '+1-290-662-0434x2698', 'Benin'),
 ('Janet', '+1-917-086-3035', 'Dominica'),
 ('Megan', '455-833-2212x9320', 'Papua New Guinea'),
 ('Sean', '529.768.6784x925', 'Austria'),
 ('Theresa', '495.951.8305', 'French Polynesia'),
 ('Olivia', '001-141-478-3660x828', 'Poland'),
 ('Cynthia', '508.240.0300x15925', 'Reunion'),
 ('John', '519.142.7799', 'United States of America'),
 ('John', '(056)532-9673x8611', 'New Caledonia'),
 ('Autumn', '(062)252-4421x302', 'Guatemala'),
 ('Natalie', '+1-770-202-6659x9049', 'Italy'),
 ('Joshua', '(614)517-0676x0601', 'Benin'),
 ('Brandon', '(733)538-8025x9435', 'French Southern Territories'),
 ('Lorraine', '001-750-323-9318x806', 'Burkina Faso'),
 ('Gina', '001-082-641-5481x09122', 'Timor-Leste'),
 ('Michelle', '001-598-485-4275x74517', 'Panama'),
 ('Carl', '2585645755', 'Denmark'),
 ('Ricky', '(089)557-7478x9450', 'Korea'),
 ('David', '319.938.7293x344', 'Jordan'),
 ('Jason', '607.825.0328x80778', 'Germany'),
 ('Nicole', '536.227.8730', 'Central African Republic'),
 ('Michael', '(264)563-8346x20726', 'Western Sahara'),
 ('Michael', '001-265-804-7094x906', 'Namibia'),
 ('Virginia', '352.274.9672x165', 'Luxembourg'),
 ('Carly', '+1-163-441-6264x45815', 'Iraq'),
 ('Kristen', '686-766-5868', 'Korea'),
 ('Beverly', '253.548.4651x57631', 'Svalbard & Jan Mayen Islands'),
 ('Ashley', '+1-442-293-9657x5402', 'Norway'),
 ('Connie', '5796211757', 'Guyana'),
 ('Andrew', '338.329.2827', 'United Kingdom'),
 ('Charles', '(152)405-1866x3235', 'Pakistan'),
 ('Amanda', '(522)607-3371', 'Thailand'),
 ('Daniel', '001-197-691-2500x877', 'Burundi'),
 ('Brenda', '+1-415-592-5572x22143', 'Niue'),
 ('Rebecca', '989-699-2217x8220', 'Guinea-Bissau'),
 ('Monique', '(418)551-3283', 'Estonia'),
 ('Austin', '388.123.6937x00657', 'Sri Lanka'),
 ('Eric', '020.667.3872x5487', 'Maldives'),
 ('Kyle', '001-160-408-9594x9458', 'Suriname'),
 ('Jeff', '9875951032', 'Suriname'),
 ('Mark', '001-832-122-3968x8857', 'Indonesia'),
 ('Sean', '7424684562', 'Kuwait'),
 ('Jonathan', '633-793-5563x7126', 'Albania'),
 ('Tina', '7091298877', 'Montenegro'),
 ('Jessica', '380.237.6870x24334', 'Uganda'),
 ('Julie', '159-775-3148x05587', 'Kuwait'),
 ('Alyssa', '001-101-349-6336', 'Finland'),
 ('Brandon', '178.812.1197x6149', 'British Virgin Islands'),
 ('Stephanie', '(203)309-7837', 'Grenada'),
 ('Eric', '(438)286-6495x35547', 'Jersey'),
 ('Tracy', '(090)346-2465x205', 'Romania'),
 ('Claudia', '648.522.5638x331', 'Albania'),
 ('Julie', '3859179758', 'Guatemala'),
 ('Steven', '193.031.6361', 'Faroe Islands'),
 ('Kathy', '(962)945-2738x1926', 'Burkina Faso')]

## obtain data using multiple conditions in SQL with WHERE , AND, OR syntax

In [54]:
sql_for_salary_gt_100_from_india = """
                                   SELECT Fname, Phone, Country FROM Employees 
                                   WHERE Salary > 100 AND Country='India'
                                   """

In [55]:
highly_paid_people_in_india = db_test.read_db_query(sql_for_salary_gt_100_from_india)

Data obtained successfully

In [56]:
highly_paid_people_in_india

[('Christine', '8856854765', 'India'),
 ('Stephen', '236-903-2806x59867', 'India')]

In [63]:
sql_for_salary_gt_100_from_asia = """
                                   SELECT Fname, Phone, Country, Salary FROM Employees 
                                   WHERE Salary > 100 
                                   AND 
                                   (Country='India'
                                   OR Continent='AS')
                                   """

In [64]:
highly_paid_people_in_asia = db_test.read_db_query(sql_for_salary_gt_100_from_asia)

Data obtained successfully

In [65]:
highly_paid_people_in_asia

[('Brandon', '415-884-0386', 'Indonesia', 105),
 ('Nicholas', '656.742.4629x87667', 'Bahrain', 105),
 ('Christine', '8856854765', 'India', 105),
 ('William', '8527875431', 'Uzbekistan', 105),
 ('Felicia', '770.442.5783', 'Bahrain', 105),
 ('Stephen', '236-903-2806x59867', 'India', 105),
 ('Audrey', '(271)431-6410x7474', 'Myanmar', 105),
 ('David', '319.938.7293x344', 'Jordan', 105),
 ('Carly', '+1-163-441-6264x45815', 'Iraq', 105),
 ('Charles', '(152)405-1866x3235', 'Pakistan', 105),
 ('Amanda', '(522)607-3371', 'Thailand', 105),
 ('Austin', '388.123.6937x00657', 'Sri Lanka', 105),
 ('Eric', '020.667.3872x5487', 'Maldives', 105),
 ('Mark', '001-832-122-3968x8857', 'Indonesia', 105),
 ('Sean', '7424684562', 'Kuwait', 105),
 ('Julie', '159-775-3148x05587', 'Kuwait', 105)]

## Multiple where codition using IN statement

In [150]:
sql_for_salary_gt_100_from_india_pakistana_sl= """
                                               SELECT Fname, Phone, Country FROM Employees 
                                               WHERE Salary > 100 AND 
                                               Country IN ('India', 'Pakistan', 'Sri Lanka')
                                               """

In [151]:
db_test.read_db_query(sql_for_salary_gt_100_from_india_pakistana_sl)

Data obtained successfully

[('Christine', '8856854765', 'India'),
 ('Stephen', '236-903-2806x59867', 'India'),
 ('Charles', '(152)405-1866x3235', 'Pakistan'),
 ('Austin', '388.123.6937x00657', 'Sri Lanka')]

## obtain data using startswith and endwith in sql with % syntax

In [78]:
# starts with example
sql_for_salary_gt_100_fname_startwith = """
                                       SELECT Fname, Phone, Country FROM Employees 
                                       WHERE Salary > 100 
                                       AND 
                                       Fname LIKE 'MI%'
                                       """

In [79]:
highly_paid_people_Fname_startwith = db_test.read_db_query(sql_for_salary_gt_100_fname_startwith)

Data obtained successfully

In [80]:
highly_paid_people_Fname_startwith

[('Michael', '337.122.4350x5749', 'New Zealand'),
 ('Michael', '9798373771', 'Netherlands Antilles'),
 ('Michelle', '001-598-485-4275x74517', 'Panama'),
 ('Michael', '(264)563-8346x20726', 'Western Sahara'),
 ('Michael', '001-265-804-7094x906', 'Namibia')]

In [81]:
# ends with example
sql_for_salary_gt_100_fname_endswith = """
                                       SELECT Fname, Phone, Country FROM Employees 
                                       WHERE Salary > 100 
                                       AND 
                                       Fname LIKE '%ly'
                                       """

In [82]:
highly_paid_people_Fname_endswith = db_test.read_db_query(sql_for_salary_gt_100_fname_endswith)

Data obtained successfully

In [84]:
highly_paid_people_Fname_endswith

[('Carly', '+1-163-441-6264x45815', 'Iraq'),
 ('Beverly', '253.548.4651x57631', 'Svalbard & Jan Mayen Islands')]

In [85]:
# contains with example
sql_for_salary_gt_100_fname_contains = """
                                       SELECT Fname, Phone, Country FROM Employees 
                                       WHERE Salary > 100 
                                       AND 
                                       Fname LIKE '%ri%'
                                       """

In [87]:
highly_paid_people_Fname_contains = db_test.read_db_query(sql_for_salary_gt_100_fname_contains)

Data obtained successfully

In [89]:
highly_paid_people_Fname_contains

[('Christine', '8856854765', 'India'),
 ('Kristen', '832-375-3115x0646', 'Tanzania'),
 ('Richard', '086-493-2120x868', 'Hungary'),
 ('Richard', '(687)028-7823x3894', 'Costa Rica'),
 ('Ricky', '(089)557-7478x9450', 'Korea'),
 ('Kristen', '686-766-5868', 'Korea'),
 ('Eric', '020.667.3872x5487', 'Maldives'),
 ('Eric', '(438)286-6495x35547', 'Jersey')]

## Sorting and limiting in sql with  ORDER and LIMIT Syntax

In [96]:
sql_for_select_first_name_sort_and_limit = """ 
                                            SELECT Fname, Phone, Country, Salary FROM Employees 
                                            ORDER BY Fname 
                                            LIMIT 10"""

In [97]:
sql_for_select_first_name_sort_and_limit_data = db_test.read_db_query(
                                                sql_for_select_first_name_sort_and_limit)

Data obtained successfully

In [98]:
sql_for_select_first_name_sort_and_limit_data

[('Aaron', '109.476.7571x957', 'Nauru', 75),
 ('Aaron', '018.132.0050', 'Netherlands', 55),
 ('Aaron', '140.804.3930x325', 'Cook Islands', 50),
 ('Aaron', '724.893.0219', "Cote d'Ivoire", 75),
 ('Adam', '140-646-0398x430', 'Zambia', 105),
 ('Adam', '+1-596-695-8492x917', 'Canada', 70),
 ('Adam', '+1-688-492-7371', 'Puerto Rico', 75),
 ('Adrian', '(734)632-8427', 'Slovakia (Slovak Republic)', 50),
 ('Adrian', '+1-692-372-9589x060', 'Korea', 100),
 ('Alan', '(781)718-1397x445', 'Solomon Islands', 80)]

In [122]:
# sort by salary asc order
sql_for_select_first_name_sort_by_salary_asc = """ 
                                            SELECT Id, Fname, Phone, Country, Salary FROM Employees 
                                            ORDER BY Salary 
                                            LIMIT 10"""

In [123]:
sql_for_select_first_name_sort_by_salary_asc_data = db_test.read_db_query(
                                                sql_for_select_first_name_sort_by_salary_asc)

Data obtained successfully

In [124]:
sql_for_select_first_name_sort_by_salary_asc_data

[(20, 'Nathan', '614-317-3290x155', 'Belize', 50),
 (35, 'Nathan', '001-031-901-6081x54127', 'Palau', 50),
 (38, 'Mckenzie', '001-045-871-9381x255', 'Myanmar', 50),
 (49, 'David', '001-162-394-7088x080', 'Cambodia', 50),
 (54, 'Adrian', '(734)632-8427', 'Slovakia (Slovak Republic)', 50),
 (57,
  'Jennifer',
  '(893)254-4435x7726',
  'British Indian Ocean Territory (Chagos Archipelago)',
  50),
 (105, 'Nancy', '(705)308-1902x9005', 'Korea', 50),
 (115, 'Alexis', '001-417-663-9218x347', 'Tajikistan', 50),
 (128, 'Curtis', '499.220.4986x579', 'Comoros', 50),
 (129, 'Derek', '(278)818-8178', 'Norfolk Island', 50)]

In [125]:
# sort by salary dsc order
sql_for_select_first_name_sort_by_salary_dsc = """ 
                                            SELECT Id, Fname, Phone, Country, Salary FROM Employees 
                                            ORDER BY -Salary 
                                            LIMIT 10"""

In [126]:
sql_for_select_first_name_sort_by_salary_dsc_data = db_test.read_db_query(
                                                sql_for_select_first_name_sort_by_salary_dsc)

Data obtained successfully

In [127]:
sql_for_select_first_name_sort_by_salary_dsc_data

[(7, 'Kelsey', '184-305-8027', 'El Salvador', 105),
 (9, 'Brandon', '415-884-0386', 'Indonesia', 105),
 (11, 'Jeffery', '841-133-8914x552', 'Niue', 105),
 (46, 'Michael', '337.122.4350x5749', 'New Zealand', 105),
 (63, 'Nicholas', '656.742.4629x87667', 'Bahrain', 105),
 (82, 'Candice', '+1-223-415-9855x448', 'Burundi', 105),
 (103, 'Christine', '8856854765', 'India', 105),
 (107, 'Kristen', '832-375-3115x0646', 'Tanzania', 105),
 (111, 'Randall', '001-485-492-8265', 'Morocco', 105),
 (134, 'William', '8527875431', 'Uzbekistan', 105)]

## multiple sorting

In [128]:
sql_for_select_first_name_sort_and_limit_multiple = """ 
                                                    SELECT Fname, Phone, Country, Salary FROM Employees 
                                                    ORDER BY Fname, Salary 
                                                    LIMIT 10
                                                    """

In [129]:
sql_for_select_first_name_sort_and_limit_multiple_data = db_test.read_db_query(
                                                sql_for_select_first_name_sort_and_limit_multiple)

Data obtained successfully

In [130]:
sql_for_select_first_name_sort_and_limit_multiple_data

[('Aaron', '140.804.3930x325', 'Cook Islands', 50),
 ('Aaron', '018.132.0050', 'Netherlands', 55),
 ('Aaron', '109.476.7571x957', 'Nauru', 75),
 ('Aaron', '724.893.0219', "Cote d'Ivoire", 75),
 ('Adam', '+1-596-695-8492x917', 'Canada', 70),
 ('Adam', '+1-688-492-7371', 'Puerto Rico', 75),
 ('Adam', '140-646-0398x430', 'Zambia', 105),
 ('Adrian', '(734)632-8427', 'Slovakia (Slovak Republic)', 50),
 ('Adrian', '+1-692-372-9589x060', 'Korea', 100),
 ('Alan', '(781)718-1397x445', 'Solomon Islands', 80)]

## Agregate operations AVG, MAX, MIN

In [145]:
db_test.read_db_query("SELECT MAX(Salary) Id, Fname, Phone, Country FROM Employees ")

Data obtained successfully

[(105, 'Kelsey', '184-305-8027', 'El Salvador')]

In [146]:
db_test.read_db_query("SELECT MIN(Salary) Id, Fname, Phone, Country FROM Employees ")

Data obtained successfully

[(50, 'Nathan', '614-317-3290x155', 'Belize')]

In [148]:
db_test.read_db_query("SELECT AVG(Salary) FROM Employees")

Data obtained successfully

[(77.71728271728271,)]

## practical implementaion of GroupBy in sql

In [164]:
# counting number of people continent wise
sql_for_groupby_continentwise = """
                                               SELECT Continent, COUNT(*) 
                                               FROM Employees 
                                               GROUP BY Continent
                                               """

In [165]:
db_test.read_db_query(sql_for_groupby_continentwise)

Data obtained successfully

[('AF', 219),
 ('AN', 2),
 ('AS', 191),
 ('EU', 279),
 ('NA', 152),
 ('OC', 101),
 ('SA', 57)]

In [166]:
sql_for_groupby_countrywise = """
                               SELECT Country, COUNT(*) 
                               FROM Employees 
                               GROUP BY Country
                               """

In [167]:
# counting number of people contry wise

db_test.read_db_query(sql_for_groupby_countrywise)

Data obtained successfully

[('Afghanistan', 3),
 ('Albania', 7),
 ('Algeria', 3),
 ('American Samoa', 3),
 ('Andorra', 5),
 ('Angola', 4),
 ('Anguilla', 4),
 ('Antarctica (the territory South of 60 deg S)', 4),
 ('Antigua and Barbuda', 4),
 ('Argentina', 2),
 ('Armenia', 5),
 ('Aruba', 4),
 ('Australia', 5),
 ('Austria', 5),
 ('Azerbaijan', 4),
 ('Bahamas', 5),
 ('Bahrain', 4),
 ('Bangladesh', 4),
 ('Barbados', 2),
 ('Belarus', 3),
 ('Belgium', 2),
 ('Belize', 5),
 ('Benin', 7),
 ('Bermuda', 4),
 ('Bhutan', 2),
 ('Bolivia', 1),
 ('Bosnia and Herzegovina', 4),
 ('Botswana', 2),
 ('Bouvet Island (Bouvetoya)', 3),
 ('Brazil', 3),
 ('British Indian Ocean Territory (Chagos Archipelago)', 2),
 ('British Virgin Islands', 5),
 ('Bulgaria', 3),
 ('Burkina Faso', 7),
 ('Burundi', 6),
 ('Cambodia', 3),
 ('Cameroon', 3),
 ('Canada', 4),
 ('Cape Verde', 2),
 ('Cayman Islands', 4),
 ('Central African Republic', 7),
 ('Chad', 4),
 ('Chile', 1),
 ('China', 4),
 ('Christmas Island', 7),
 ('Cocos (Keeling) Islands', 3),
 ('Colombia', 8),
 ('Comoros', 5),
 ('Congo', 10),
 ('Cook Islands', 5),
 ('Costa Rica', 7),
 ("Cote d'Ivoire", 6),
 ('Croatia', 6),
 ('Cuba', 2),
 ('Cyprus', 3),
 ('Czech Republic', 5),
 ('Denmark', 3),
 ('Djibouti', 5),
 ('Dominica', 4),
 ('Dominican Republic', 2),
 ('Ecuador', 3),
 ('Egypt', 5),
 ('El Salvador', 4),
 ('Equatorial Guinea', 1),
 ('Eritrea', 8),
 ('Estonia', 2),
 ('Ethiopia', 4),
 ('Falkland Islands (Malvinas)', 5),
 ('Faroe Islands', 5),
 ('Fiji', 1),
 ('Finland', 5),
 ('France', 2),
 ('French Guiana', 2),
 ('French Polynesia', 3),
 ('French Southern Territories', 3),
 ('Gabon', 2),
 ('Gambia', 5),
 ('Georgia', 2),
 ('Germany', 6),
 ('Ghana', 4),
 ('Gibraltar', 4),
 ('Greece', 2),
 ('Greenland', 2),
 ('Grenada', 9),
 ('Guadeloupe', 4),
 ('Guam', 2),
 ('Guatemala', 3),
 ('Guernsey', 6),
 ('Guinea', 5),
 ('Guinea-Bissau', 4),
 ('Guyana', 5),
 ('Haiti', 4),
 ('Heard Island and McDonald Islands', 2),
 ('Holy See (Vatican City State)', 6),
 ('Honduras', 3),
 ('Hong Kong', 4),
 ('Hungary', 8),
 ('Iceland', 1),
 ('India', 12),
 ('Indonesia', 5),
 ('Iran', 5),
 ('Iraq', 4),
 ('Ireland', 2),
 ('Isle of Man', 2),
 ('Israel', 4),
 ('Italy', 5),
 ('Jamaica', 6),
 ('Japan', 3),
 ('Jersey', 3),
 ('Jordan', 3),
 ('Kazakhstan', 4),
 ('Kenya', 6),
 ('Kiribati', 3),
 ('Korea', 11),
 ('Kuwait', 5),
 ('Kyrgyz Republic', 4),
 ("Lao People's Democratic Republic", 2),
 ('Latvia', 6),
 ('Lebanon', 2),
 ('Lesotho', 4),
 ('Liberia', 5),
 ('Libyan Arab Jamahiriya', 7),
 ('Liechtenstein', 4),
 ('Lithuania', 6),
 ('Luxembourg', 3),
 ('Macao', 2),
 ('Macedonia', 5),
 ('Madagascar', 8),
 ('Malawi', 4),
 ('Malaysia', 4),
 ('Maldives', 1),
 ('Mali', 5),
 ('Malta', 5),
 ('Marshall Islands', 6),
 ('Martinique', 4),
 ('Mauritania', 3),
 ('Mauritius', 2),
 ('Mayotte', 6),
 ('Mexico', 4),
 ('Micronesia', 5),
 ('Moldova', 4),
 ('Monaco', 6),
 ('Mongolia', 4),
 ('Montenegro', 4),
 ('Montserrat', 4),
 ('Morocco', 6),
 ('Mozambique', 5),
 ('Myanmar', 4),
 ('Namibia', 4),
 ('Nauru', 7),
 ('Nepal', 3),
 ('Netherlands', 5),
 ('Netherlands Antilles', 2),
 ('New Caledonia', 6),
 ('New Zealand', 7),
 ('Nicaragua', 6),
 ('Niger', 5),
 ('Nigeria', 3),
 ('Niue', 4),
 ('Norfolk Island', 5),
 ('Norway', 4),
 ('Oman', 1),
 ('Pakistan', 2),
 ('Palau', 7),
 ('Palestinian Territory', 3),
 ('Panama', 3),
 ('Papua New Guinea', 4),
 ('Paraguay', 3),
 ('Peru', 2),
 ('Philippines', 4),
 ('Pitcairn Islands', 3),
 ('Poland', 3),
 ('Portugal', 4),
 ('Puerto Rico', 5),
 ('Qatar', 4),
 ('Reunion', 3),
 ('Romania', 3),
 ('Russian Federation', 5),
 ('Rwanda', 3),
 ('Saint Barthelemy', 2),
 ('Saint Helena', 4),
 ('Saint Kitts and Nevis', 3),
 ('Saint Lucia', 5),
 ('Saint Martin', 5),
 ('Saint Pierre and Miquelon', 5),
 ('Saint Vincent and the Grenadines', 4),
 ('Samoa', 7),
 ('San Marino', 2),
 ('Saudi Arabia', 7),
 ('Senegal', 1),
 ('Serbia', 1),
 ('Seychelles', 3),
 ('Sierra Leone', 4),
 ('Singapore', 3),
 ('Slovakia (Slovak Republic)', 5),
 ('Slovenia', 4),
 ('Solomon Islands', 3),
 ('Somalia', 3),
 ('South Africa', 4),
 ('South Georgia and the South Sandwich Islands', 6),
 ('Spain', 4),
 ('Sri Lanka', 5),
 ('Sudan', 3),
 ('Suriname', 7),
 ('Svalbard & Jan Mayen Islands', 5),
 ('Swaziland', 1),
 ('Sweden', 5),
 ('Switzerland', 4),
 ('Syrian Arab Republic', 2),
 ('Taiwan', 3),
 ('Tajikistan', 6),
 ('Tanzania', 4),
 ('Thailand', 7),
 ('Timor-Leste', 8),
 ('Togo', 6),
 ('Tokelau', 4),
 ('Tonga', 2),
 ('Trinidad and Tobago', 2),
 ('Tunisia', 2),
 ('Turkey', 5),
 ('Turkmenistan', 6),
 ('Turks and Caicos Islands', 3),
 ('Tuvalu', 3),
 ('Uganda', 7),
 ('Ukraine', 4),
 ('United Arab Emirates', 4),
 ('United Kingdom', 3),
 ('United States Minor Outlying Islands', 4),
 ('United States Virgin Islands', 4),
 ('United States of America', 4),
 ('Uruguay', 5),
 ('Uzbekistan', 6),
 ('Vanuatu', 5),
 ('Venezuela', 4),
 ('Vietnam', 1),
 ('Wallis and Futuna', 4),
 ('Western Sahara', 8),
 ('Yemen', 6),
 ('Zambia', 6),
 ('Zimbabwe', 3)]

## groupby with condititons

In [180]:
sql_for_groupby_countrywise_gt_10 = """
                                   SELECT Country, COUNT(*) as num_people
                                   FROM Employees 
                                   GROUP BY Country
                                   HAVING num_people > 10
                                   """

In [182]:
db_test.read_db_query(sql_for_groupby_countrywise_gt_10)

Data obtained successfully

[('India', 12), ('Korea', 11)]